In [1]:
import pandas as pd

In [4]:
train_df = pd.read_parquet("./data/test2/test.parquet")
train_labels_df = pd.read_parquet("./data/test2/test_labels.parquet")

In [5]:
train_df

          session      aid          ts  type
0        11098528    11830  1661119200     0
1        11098529  1105029  1661119200     0
2        11098530   264500  1661119200     0
3        11098530   264500  1661119288     0
4        11098530   409236  1661119369     0
...           ...      ...         ...   ...
7683572  12899774    33035  1661723968     0
7683573  12899775  1743151  1661723970     0
7683574  12899776   548599  1661723972     0
7683575  12899777   384045  1661723976     0
7683576  12899778   561560  1661723983     0

[7683577 rows x 4 columns]

In [ ]:
train_labels_df.head(30)

          session    type                                       ground_truth
0        11098528  clicks                                          [1679529]
1        11098528   carts                                          [1199737]
2        11098528  orders  [990658, 950341, 1462506, 1561739, 907564, 369...
3        11098529  clicks                                          [1105029]
4        11098530  orders                                           [409236]
...           ...     ...                                                ...
2212687  12899774  clicks                                          [1399483]
2212688  12899775  clicks                                          [1760714]
2212689  12899776  clicks                                          [1737908]
2212690  12899777  clicks                                           [384045]
2212691  12899778  clicks                                            [32070]

[2212692 rows x 3 columns]

In [9]:
pd.to_datetime(train_df['ts'], unit='s')

0         2022-08-21 22:00:00
1         2022-08-21 22:00:00
2         2022-08-21 22:00:00
3         2022-08-21 22:01:28
4         2022-08-21 22:02:49
                  ...
7683572   2022-08-28 21:59:28
7683573   2022-08-28 21:59:30
7683574   2022-08-28 21:59:32
7683575   2022-08-28 21:59:36
7683576   2022-08-28 21:59:43
Name: ts, Length: 7683577, dtype: datetime64[ns]

In [14]:
df2 = pd.read_parquet("./data/CV/valid_seqs.parquet")
label2s_df2 = pd.read_parquet("./data/CV/valid_labels.parquet")

In [18]:
df2.head(30)

     session      aid          ts  type
0   11098528    11830  1661119200     0
1   11098528  1679529  1661119417     0
2   11098528    92401  1661119474     0
3   11098528  1055218  1661119598     0
4   11098528  1561739  1661119644     0
5   11098528  1679529  1661119708     0
6   11098528  1033148  1661119754     0
7   11098528   440367  1661119786     0
8   11098528    11830  1661119844     0
9   11098528  1033148  1661119932     0
10  11098528  1679529  1661119967     0
11  11098528  1199737  1661120032     0
12  11098528  1199737  1661120104     1
13  11098528   990658  1661120599     2
14  11098528  1033148  1661120599     2
15  11098528    11830  1661120599     2
16  11098528   440367  1661120599     2
17  11098528   369774  1661120599     2
18  11098528   907564  1661120599     2
19  11098529  1105029  1661119200     0
20  11098529  1105029  1661148152     0
21  11098530   264500  1661119200     0
22  11098530   264500  1661119288     0
23  11098530   409236  1661119369     0
24  11098531   452188  1661119200     0
25  11098531  1239060  1661119227     0
26  11098531  1557766  1661119243     0
27  11098531   452188  1661119261     0
28  11098531   396199  1661119268     0
29  11098531  1309633  1661119284     0

In [16]:
label2s_df2.head(30)

     session      aid          ts  type
0   11098528  1199737  1661120599     2
1   11098528  1462506  1661120599     2
2   11098528   950341  1661120599     2
3   11098528  1561739  1661120599     2
4   11098528    92401  1661120599     2
5   11098528   796572  1661277820     0
6   11098528    11830  1661707889     0
7   11098528   588923  1661707910     0
8   11098529  1298277  1661284822     0
9   11098530   409236  1661119441     0
10  11098530   409236  1661120165     0
11  11098530   409236  1661120532     1
12  11098530   409236  1661120827     2
13  11098531   624163  1661119485     0
14  11098531  1271998  1661119508     0
15  11098531  1728212  1661119522     0
16  11098531  1365569  1661119535     0
17  11098531  1365569  1661119543     0
18  11098531  1728212  1661119746     2
19  11098531   452188  1661119746     2
20  11098531  1271998  1661119746     2
21  11098531   396199  1661119746     2
22  11098531  1365569  1661119746     2
23  11098532   634422  1661160245     0
24  11098532   863592  1661160283     0
25  11098532   463529  1661160298     0
26  11098532  1224737  1661160326     0
27  11098532  1059444  1661160372     0
28  11098532   444527  1661160396     0
29  11098533  1189919  1661350036     1

In [19]:
# 1. 比较基本统计信息
print("=== 他人验证集 ===")
print(f"测试集大小: {len(train_df)}")
print(f"标签集大小: {len(train_labels_df)}")
print(f"测试集中的session数: {train_df['session'].nunique()}")
print(f"标签集中的session数: {train_labels_df['session'].nunique()}")
print("\n按type统计标签集：")
print(train_labels_df['type'].value_counts().sort_index())

print("\n=== 我的验证集 ===")
print(f"测试集大小: {len(df2)}")
print(f"标签集大小: {len(label2s_df2)}")
print(f"测试集中的session数: {df2['session'].nunique()}")
print(f"标签集中的session数: {label2s_df2['session'].nunique()}")
print("\n按type统计标签集：")
print(label2s_df2['type'].value_counts().sort_index())

=== 他人验证集 ===
测试集大小: 7683577
标签集大小: 2212692
测试集中的session数: 1801251
标签集中的session数: 1801251

按type统计标签集：
type
carts      306341
clicks    1755534
orders     150817
Name: count, dtype: int64

=== 我的验证集 ===
测试集大小: 7686125
标签集大小: 7698452
测试集中的session数: 1801251
标签集中的session数: 1801251

按type统计标签集：
type
0    6704399
1     661796
2     332257
Name: count, dtype: int64
标签集中的session数: 1801251

按type统计标签集：
type
carts      306341
clicks    1755534
orders     150817
Name: count, dtype: int64

=== 我的验证集 ===
测试集大小: 7686125
标签集大小: 7698452
测试集中的session数: 1801251
标签集中的session数: 1801251

按type统计标签集：
type
0    6704399
1     661796
2     332257
Name: count, dtype: int64

In [20]:
# 2. 比较session长度分布
def analyze_session_length(df, name):
    session_lengths = df.groupby('session').size()
    print(f"\n=== {name}的session长度分析 ===")
    print("统计描述：")
    print(session_lengths.describe())
    print("\n分位数分布：")
    print(session_lengths.quantile([0.1, 0.25, 0.5, 0.75, 0.9]))

print("测试集的session长度分析：")
analyze_session_length(train_df, "他人验证集")
analyze_session_length(df2, "我的验证集")

测试集的session长度分析：

=== 他人验证集的session长度分析 ===
统计描述：
count    1.801251e+06
mean     4.265689e+00
std      8.381265e+00
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      4.000000e+00
max      4.650000e+02
dtype: float64

分位数分布：
0.10    1.0
0.25    1.0
0.50    2.0
0.75    4.0
0.90    9.0
dtype: float64

=== 他人验证集的session长度分析 ===
统计描述：
count    1.801251e+06
mean     4.265689e+00
std      8.381265e+00
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      4.000000e+00
max      4.650000e+02
dtype: float64

分位数分布：
0.10    1.0
0.25    1.0
0.50    2.0
0.75    4.0
0.90    9.0
dtype: float64

=== 我的验证集的session长度分析 ===
统计描述：
count    1.801251e+06
mean     4.267104e+00
std      8.443693e+00
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      4.000000e+00
max      4.630000e+02
dtype: float64

分位数分布：
0.10    1.0
0.25    1.0
0.50    2.0
0.75    4.0
0.90    9.0
dtype: float64

=== 我的验证集的session长度分析 ===
统计描述：
count    1.801251e+06
mean     4.267104e+00
std      8.443693e+00
min      1.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      4.000000e+00
max      4.630000e+02
dtype: float64

分位数分布：
0.10    1.0
0.25    1.0
0.50    2.0
0.75    4.0
0.90    9.0
dtype: float64

In [22]:
# 3. 比较时间分布
print("\n=== 时间范围比较 ===")
print("他人验证集时间范围：")
print(f"测试集：{pd.to_datetime(train_df['ts'].min(), unit='s')} 到 {pd.to_datetime(train_df['ts'].max(), unit='s')}")
# print(f"标签集：{pd.to_datetime(train_labels_df['ts'].min(), unit='s')} 到 {pd.to_datetime(train_labels_df['ts'].max(), unit='s')}")

print("\n我的验证集时间范围：")
print(f"测试集：{pd.to_datetime(df2['ts'].min(), unit='s')} 到 {pd.to_datetime(df2['ts'].max(), unit='s')}")
# print(f"标签集：{pd.to_datetime(label2s_df2['ts'].min(), unit='s')} 到 {pd.to_datetime(label2s_df2['ts'].max(), unit='s')}")

=== 时间范围比较 ===
他人验证集时间范围：
测试集：2022-08-21 22:00:00 到 2022-08-28 21:59:56

我的验证集时间范围：
测试集：2022-08-21 22:00:00 到 2022-08-28 21:59:56

In [23]:
# 4. 分析验证集中的行为分布
def analyze_behavior_distribution(test_df, label_df, name):
    print(f"\n=== {name}的行为分布分析 ===")
    
    # 计算每个session的各类型行为数量
    behavior_stats = label_df.groupby('session')['type'].value_counts().unstack(fill_value=0)
    behavior_stats.columns = ['clicks', 'carts', 'orders']
    
    print("\n每个session的行为统计：")
    print(behavior_stats.describe())
    
    # 计算行为转化率
    print("\n行为转化率：")
    total_sessions = len(behavior_stats)
    print(f"有点击的session比例: {(behavior_stats['clicks'] > 0).mean():.3f}")
    print(f"有加购的session比例: {(behavior_stats['carts'] > 0).mean():.3f}")
    print(f"有下单的session比例: {(behavior_stats['orders'] > 0).mean():.3f}")
    
    # 计算平均行为数
    print("\n平均每个session的行为数：")
    print(behavior_stats.mean())

print("比较两个验证集的行为分布：")
analyze_behavior_distribution(train_df, train_labels_df, "他人验证集")
analyze_behavior_distribution(df2, label2s_df2, "我的验证集")

比较两个验证集的行为分布：

=== 他人验证集的行为分布分析 ===

每个session的行为统计：
             clicks         carts        orders
count  1.801251e+06  1.801251e+06  1.801251e+06
mean   1.700712e-01  9.746193e-01  8.372903e-02
std    3.756955e-01  1.572785e-01  2.769811e-01
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  1.000000e+00  0.000000e+00
50%    0.000000e+00  1.000000e+00  0.000000e+00
75%    0.000000e+00  1.000000e+00  0.000000e+00
max    1.000000e+00  1.000000e+00  1.000000e+00

行为转化率：
有点击的session比例: 0.170
有加购的session比例: 0.975
有下单的session比例: 0.084

平均每个session的行为数：
clicks    0.170071
carts     0.974619
orders    0.083729
dtype: float64

=== 我的验证集的行为分布分析 ===

每个session的行为统计：
             clicks         carts        orders
count  1.801251e+06  1.801251e+06  1.801251e+06
mean   1.700712e-01  9.746193e-01  8.372903e-02
std    3.756955e-01  1.572785e-01  2.769811e-01
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  1.000000e+00  0.000000e+00
50%    0.000000e+00  1.000000e+00  0.000000e+00
75%    0.000000e+00  1.000000e+00  0.000000e+00
max    1.000000e+00  1.000000e+00  1.000000e+00

行为转化率：
有点击的session比例: 0.170
有加购的session比例: 0.975
有下单的session比例: 0.084

平均每个session的行为数：
clicks    0.170071
carts     0.974619
orders    0.083729
dtype: float64

=== 我的验证集的行为分布分析 ===

每个session的行为统计：
             clicks         carts        orders
count  1.801251e+06  1.801251e+06  1.801251e+06
mean   3.722079e+00  3.674091e-01  1.844590e-01
std    7.375191e+00  1.373993e+00  9.225608e-01
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    1.000000e+00  0.000000e+00  0.000000e+00
50%    2.000000e+00  0.000000e+00  0.000000e+00
75%    4.000000e+00  0.000000e+00  0.000000e+00
max    4.600000e+02  1.650000e+02  5.200000e+01

行为转化率：
有点击的session比例: 0.974
有加购的session比例: 0.171
有下单的session比例: 0.084

平均每个session的行为数：
clicks    3.722079
carts     0.367409
orders    0.184459
dtype: float64

每个session的行为统计：
             clicks         carts        orders
count  1.801251e+06  1.801251e+06  1.801251e+06
mean   3.722079e+00  3.674091e-01  1.844590e-01
std    7.375191e+00  1.373993e+00  9.225608e-01
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    1.000000e+00  0.000000e+00  0.000000e+00
50%    2.000000e+00  0.000000e+00  0.000000e+00
75%    4.000000e+00  0.000000e+00  0.000000e+00
max    4.600000e+02  1.650000e+02  5.200000e+01

行为转化率：
有点击的session比例: 0.974
有加购的session比例: 0.171
有下单的session比例: 0.084

平均每个session的行为数：
clicks    3.722079
carts     0.367409
orders    0.184459
dtype: float64

In [24]:
# 5. 分析行为的时序性
def analyze_behavior_sequence(test_df, label_df, name):
    print(f"\n=== {name}的行为时序分析 ===")
    
    # 合并测试集和标签集
    merged = pd.concat([
        test_df.assign(set_type='test'),
        label_df.assign(set_type='label')
    ]).sort_values(['session', 'ts'])
    
    # 检查每个session中test和label的时序
    session_analysis = []
    for session_id, group in merged.groupby('session'):
        test_max_ts = group[group.set_type == 'test']['ts'].max()
        label_min_ts = group[group.set_type == 'label']['ts'].min()
        session_analysis.append({
            'session': session_id,
            'is_chronological': test_max_ts < label_min_ts if not pd.isna(test_max_ts) and not pd.isna(label_min_ts) else False,
            'time_gap': label_min_ts - test_max_ts if not pd.isna(test_max_ts) and not pd.isna(label_min_ts) else None
        })
    
    session_df = pd.DataFrame(session_analysis)
    print(f"时序正确的session比例: {session_df['is_chronological'].mean():.3f}")
    print("\n时间间隔统计（秒）：")
    print(pd.Series(session_df['time_gap']).describe())

In [ ]:
# 执行时序分析
print("分析两个验证集的时序性：")
analyze_behavior_sequence(train_df, train_labels_df, "他人验证集")
analyze_behavior_sequence(df2, label2s_df2, "我的验证集")

分析两个验证集的时序性：

=== 他人验证集的行为时序分析 ===